
body {
  background: url("ロゴb.jpg") no-repeat center;
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 130%;
  height: 130%;
}
.select{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 8px;
      }
